<%- include("partials/header") %>
<section id="content">
    <h1 style="text-align: center; color: black;">Welcome!</h1>
    <div class="row buttons">
        <div class="col-lg-4 init">
          <button type="button" onclick="location.href='/purchase'" class="btn btn-outline-success btn-lg btn-block angled-gradient-button">Purchase</button>
          </div>
          <div class="col-lg-4 init">
            <button type="button" onclick="location.href='/sales'" class="btn btn-outline-warning btn-lg btn-block angled-gradient-button">Sales</button>
          </div>
          <div class="col-lg-4 init">
            <button type="button" onclick="location.href='/reports'" class="btn btn-outline-primary btn-lg btn-block angled-gradient-button">Reports</button>
          </div>
        </div>
    </div>
  </section>
  <%- include("partials/footer") %> 
