<%- include("partials/header") %>
<section id="purchases">
    <h1 style="text-align: center; color: black;">Product</h1>
  <form style="margin: 5%;" method="post" action="add" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label >Product Id</label>
          <input class="form-control" id="pId" placeholder="Product Id" name="Productid" required>
        </div>
        <div class="form-group col-md-6">
          <label >Product Name</label>
          <input class="form-control" id="pName" placeholder="Product Name" name="Productname" required>
        </div>
      </div>
	  <div class="form-row">
        <div class="form-group col-md-6">
          <label >MRP</label>
          <input class="form-control" id="mrp" type="text" placeholder="MRP" name="Mrp" required>
        </div>
        <div class="form-group col-md-6">
          <label >Purchase Price</label>
          <input class="form-control" id="pp" type="text" placeholder="Purchase Price" name="PurchasePrice" required>
        </div>
      </div>
         
      <button type="submit" class="btn btn-block btn-lg btn-outline-success angled-gradient-button">Add</button>
    </form>
	<script>
	$(function() {
      $('#pId').keyup(function() {
        var inpval = $('#pId').val();
        $.ajax({
          type: 'POST',
          data: {
            pcode: inpval
          },
          url: '/autofill/'+inpval,
          success: function(html) {
            $("#pName").val(html.name);
			$("#mrp").val(html.mrp)

          }
        });
      });
    });
	</script>
</section>
<%- include("partials/footer") %>  